body {
    background-color: #F5F8FF;
}

header {
    background-image: url(../Assets/Hero-bg.png);
    min-height: 500px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;

}

nav ul li {
  list-style: none;
}

.logo {
    font-size: 34px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0%;
}

.sign-up {
    padding: 12px 36px;
    border-radius: 10px;
    background-color: #4E47FF;
    border-color: none;
    color: aliceblue;
    border-width: 0px;
    font-size: 16px;
    font-weight: bold;
}

.div-header {
    text-align: center;
    }

.cool-dark {
    font: 65px;
    color: black;
    padding-top: 50px;
}

/* Second section start from here */

.action-section {
    display: flex;
    justify-content: space-between;
    padding: 150px 150px;
    align-items: center;
}

.action-h2 {
    font-size: 42px;
    font-weight: bold;
    padding-bottom: 0%;
    margin-bottom: -10px;
}

.action-p {
    font-size: 24px;
    font-weight: lighter;
    padding-right: 250px;
    color: #25243288;
}

.action-img {
    border-radius: 48px;
}
